<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Movies</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Released</th>
                <th>Plot</th>
                <th>Runtime</th>
                <th>Cast</th>
                <th>Number of Comments</th>
                <th>Languages</th>
                <th>Directors</th>
                <th>Rated</th>
                <th>Awards</th>
                <th>IMDb Rating</th>
                <th>IMDb Votes</th>
                <th>Country</th>
                <th>Type</th>
                <th>Tomatoes Viewer Meter</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>
                <td>{{ this.title }}</td>
                <td>{{ this.released }}</td>
                <td>{{ this.plot }}</td>
                <td>{{ this.runtime }}</td>
                <td>
                    {{#each this.cast}}
                    {{ this }}{{ @last }}{{else}}, {{/each}}
                </td>
                <td>{{ this.num_mflix_comments }}</td>
                <td>
                    {{#each this.languages}}
                    {{ this }}{{ @last }}{{else}}, {{/each}}
                </td>
                <td>
                    {{#each this.directors}}
                    {{ this }}{{ @last }}{{else}}, {{/each}}
                </td>
                <td>{{ this.rated }}</td>
                <td>{{ this.awards.text }}</td>
                <td>{{ this.imdb.rating }}</td>
                <td>{{ this.imdb.votes }}</td>
                <td>
                    {{#each this.countries}}
                    {{ this }}{{ @last }}{{else}}, {{/each}}
                </td>
                <td>{{ this.type }}</td>
                <td>{{#if this.tomatoes}}{{ this.tomatoes.viewer.meter }}{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>
